.ui.vertical.stripe.segment {
  padding: 112px;
}
.top.subject {
  position: relative;
  left: 25%;
  width: 50%;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 80px;
  border-bottom: 2px solid black;
}
.eight.wide.column {
  text-align: center;
}

.eight.wide.column img {
  width: 150px;
}
