.modal_ui {
  background: rgb(42, 42, 46);
  position: absolute;
  right: 150px;
  top: 65px;
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(42, 42, 46);
  border-radius: 25px;
  color: white;
}

i {
  position: relative;
}
