.ui.menu {
  display: flex;
}

.ui.secondary.pointing.menu {
  background-color: #1B1C1D ;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  border-width: 2px;
}

.ui.secondary.pointing.menu .active.item {
  color: white;
  border-color: white;
}

.ui.secondary.pointing.menu .item {
  color: grey;
}

.ui.secondary.pointing.menu .active.item:hover {
  border-color: white;
  color: white;
}

.ui.secondary.pointing.menu a.item:hover {
  color: white;
}

.ui.button {
  background-color: #1B1C1D;
  color: white;
  border: 1px solid white;
}

.ui.button:hover {
  background-color: white;
  color: #1B1C1D;
}
