.ui.secondary.pointing.menu {
  background-color: #1b1c1d;
  margin-top: 0px;
  margin-left: 225px;
  margin-right: 225px;
  border-width: 2px;
  height: 50px;
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 50;
  width: 80%;
}

.ui.secondary.pointing.menu .active.item {
  color: white;
  border-color: white;
}

.ui.secondary.pointing.menu .item {
  color: grey;
}

.ui.secondary.pointing.menu .active.item:hover {
  border-color: white;
  color: white;
}

.ui.secondary.pointing.menu a.item:hover {
  color: white;
  border-radius: 2px;
}

.right.menu {
  position: fixed;
  right: 8.5%;
}

@media only screen and (max-width: 700px) {
  .right.menu {
    visibility: hidden;
  }
}
