.ui.menu {
  display: flex;
}

.ui.secondary.pointing.menu {
  background-color: #1b1c1d;
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 10%;
  border-width: 2px;
  height: 50px;
}

.ui.secondary.pointing.menu .active.item {
  color: white;
  border-color: white;
}

.ui.secondary.pointing.menu .item {
  color: grey;
}

.ui.secondary.pointing.menu .active.item:hover {
  border-color: white;
  color: white;
}

.ui.secondary.pointing.menu a.item:hover {
  color: white;
}

.ui.button {
  background-color: #1b1c1d;
  color: white;
  border: 1px solid white;
}

.ui.button:hover {
  background-color: white;
  color: #1b1c1d;
}

.ui.invented.button {
  height: 35px;
  margin-top: 10px;
}

.right.menu {
  position: absolute;
  right: 185px;
}
